.allCurrencies {
    grid-area: c;
    background-color: khaki;
    align-content: center;
}

.currenciesTable {

}

td, th{
    border: 1px solid black;
    padding-left: 2%;
    padding-right: 4%;
    text-align: center;
}
